
.input {
  position: relative;
  width: 335px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  background-color: rgba(7, 7, 7, 0.438);
  }

  .texto-pantalla {
    position: absolute;
    transform: translateY(50%);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
